@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ============== General Rules ============== */
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

:root {
  padding: 0;
  margin: 0;
  --font: 'Montserrat', sans-serif;
  --dark-green: #206023;
  --light-green: #368149;
}
  
  /* ============== Tag styles ============== */
  
  
  
  
  /* ============== Class styles ============== */
  
  
  
  
  /* ============== ID styles ============== */
  