/* ============== General Rules ============== */
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::placeholder {
  text-align: center;
}

/* ============== Tag styles ============== */

body {
  background-color: #206023;
}

p{
  text-align: center;
  color: white;
}

a{
  text-align: center;
  color: white;
}




/* ============== Class styles ============== */

.grid-container {
  display: grid;
  grid-template-columns: 1500px;
  /* grid-template-rows: 300px 100px; */
  grid-gap: 10px;
  background-color: #206023;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin-right: 50px; */
  position: relative;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-color: white;
  position: relative;
  /* padding: 5px 0; */
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  /* text-indent: 10px; */
  color: white;
  width: 1500px;
  height: 300px;
}

.item1 {
  grid-row: 1;
}

.left {
  position: absolute;
  top: 125px;
  left: 10px;
}

.right{
  position: absolute;
  top: 75px;
  left: 10px;
}

.bottom{
  /* font-size: 50px; */
  position: absolute;
  text-align: center;
  top: 100px;
  /* left: 400px; */
}

.top{
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 25px;
  left: 10px;
}

.button {
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 200px 250px 150px 250px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #FF0000;} /* Red */
.button3 {
  background-color: #4CAF50;
  margin: 200px 250px 150px 600px;
  } /* Red */

  div.feedback {
    background-color:white;
    width: 1535px;
    height: 1000px;
    color: black;
    /* height: 850px;
    width: 850px; */
    input[type=submit] {
        background-color: #206023;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 800px;
        cursor: pointer;
    }

    input[type=text] {
        background-color: #206023;
        border: none;
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        margin: 4px 0px;
        cursor: pointer;
    }
  }

  input[type=datetime-local] {
      background-color: #206023;
      border: none;
      color: white;
      padding: 5px 15px;
      text-decoration: none;
      margin: 4px 0px;
      cursor: pointer;
  }

  div.feedback1 {
    background-color:#206023;
    height: 250px;
    width: 350px;
    padding-top: 20px;
    padding-right: 130px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin: 150px 350px 250px 550px;
    /* text-align:center; */
  }

  h2 {
    color: green;
    font-weight: bold;
    text-indent: 20px;
    /* margin: 50px; */
  }

  h4{
    text-align: justify;
    color: green;
    text-indent: 550px;
  }





  .green-text{
    color:green;
  }

  .green-box{
        background-color: #206023;
        border: none;
        color: white;
        padding: 5px 15px;
        text-decoration: none;
        margin: 4px 0px;
        cursor: pointer;
  }


  /* navbar & footer */
:root {
    padding: 0;
    margin: 0;
    --font: "Montserrat", sans-serif;
    --dark-green: #206023;
    --light-green: #368149;
    --brown: #381c07;
}

.home-body {
	padding-right: 1em;
  width: 1520px;
  color: white;
}

/* .contact-text {
    padding: 15px 52px;
    width: 1520px;
    color: white;
} */
.contact-text {
  color: white;
  text-align: left;
}

.navbar {
    background-color: white;
    width: 1535px;
}

.navbar-brand {
    margin-left: 22rem;
}

.nav-icon,
.nav-text {
    color: var(--dark-green);
}

.profile-icon {
    font-size: 100px;
    color: var(--dark-green);
}

.fa-shopping-cart {
    font-size: 30px;
    color: var(--dark-green);
}

.dropdown-menu {
    min-width: 70px;
}

#dropdownMenuButton1 {
    background-color: var(--dark-green);
}

.nav-icon,
.nav-text {
    color: var(--dark-green);
}

footer {
    background-color: var(--light-green);
    width: 1535px;
}



/* ============== ID styles ============== */
